.App {
  text-align: center;
}

.weather-card {
  border: 1px solid #ddd;
  border-radius: 8px;
  padding: 16px;
  margin: 16px;
  max-width: 300px;
  display: inline-block;
}

.error {
  color: red;
}

/* SearchBox.css */
.form {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}

.input-container {
  position: relative;
  display: flex;
  align-items: center;
}

.input {
  padding: 10px 40px 10px 20px;
  border-radius: 20px;
  border: 1px solid #ccc;
  font-size: 16px;
  width: 300px;
}

.input::placeholder {
  color: #999;
}

.input::before {
  content: "";
  position: absolute;
  left: 10px;
  width: 20px;
  height: 20px;
  /* background: url("path/to/icon.png") no-repeat center center; */
  background-size: contain;
}

.button {
  padding: 10px 20px;
  border-radius: 20px;
  border: none;
  background-color: #007bff;
  color: white;
  font-size: 16px;
  margin-left: 10px;
  cursor: pointer;
}

.button:hover {
  background-color: #0056b3;
}
